<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

<main>
    <header class="jumbotron">
        <h1>COVID-19 Gaming Statistics</h1>
        <p>Development version</p>
    </header>

    <section id="list-university">
    	<h2>Table of Data</h2>
            <% count.forEach(function(countRow) { %>
			On <% countRow.time.toString() %> there were <% countRow.total.toString() %> servers, <% countRow.covid.toString() %> of which mentioned <q>coronavirus</q>
            <% }); %>
        </ol>
    </section>
</main>

</body>
</html>
