<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

<main>
    <header class="jumbotron">
        <h1>COVID-19 Gaming Statistics</h1>
        <p>Development version</p>
    </header>

    <section id="list-university">
    	<h2>Table of Data</h2>
	<table>
		<thead>
			<tr>
				<th>Timestamp</th>
				<th>Total servers online</th>
				<th><q>Coronavirus</q> references</th>
			</tr>
		</thead>
		<tbody>
			<% count.forEach(function(countRow) { %><tr>
				<td><time><%= countRow.time %></time></td>
				<td><%= countRow.total %></td>
				<td><%= countRow.covid %></td>
			</tr><% }); %>
		</tbody>
	</table>
    </section>
</main>

</body>
</html>
